
fieldset {
  padding: 40px 30px 50px;
}

button {
  cursor:pointer;
  max-width: 50%;
	width: 100%;
	border:none;
	background: #ff5252;
	color: #FFF;
	margin: 0 0 5px;
	padding: 10px;
	font-size: 15px;
  margin-left: 25%;
  margin-top: 10%;
  border-radius: 10px;
}

p {
  Font-Family: 'PT Sans', Sans-Serif;
  font-size: 20px;
}

h2 {
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 20px;
  Font-Family: 'Nunito', Sans-Serif;
}

#login-signup {
  width: 500px;
  height: 700px;
  border: 1px solid #d0d0d0;
  background: #fff;
}

#modal__tab-container {
  display: flex;
  flex-direction: row;
}

#modal__left {
  border-right: 1px solid #d0d0d0;
}

.modal__tab {
  background-color: #f7f7f7;
  border-top: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
  color: #333;
  font-size: 26px;
  font-weight: 600;
  height: 60px;
  line-height: 29px;
  padding-top: 15px;
  width: 250px;
  text-align: center;
}

input.input-box {
  font-size: 20px;
  height: 40px;
  line-height: 24px;
  margin: 8px auto 0;
  padding: 8px 18px;
  width: 380px;
}

.signup-form__container {
  margin: 10px;
}

.login-form__container {
  margin: 10px;
}

.wrapper {
  z-index: 10000;
  position: fixed;
  left: 32%;
  top: 80px;
  overflow: auto;
}

.wrapper-body {
  background-color: rgba(0,0,0,0.6)
}




/*This is the class for the active tab for login and signup*/
.tab--active {
  background-color: #fff;
  border-top: 3px solid #ff5252;
  border-bottom: 0;
  padding-top: 13px;
}

/*User Profile*/

 main form fieldset{
  display: flex;
  flex-direction: column;
}

textarea {
  border: 1px solid #d0d0d0;
  resize: none;
  margin-top: 35px;
  margin-left: 10px;
}
