<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>We Hack 2017</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito:300|PT+Sans" rel="stylesheet">
    <link rel="stylesheet" href="../../static/loginreg/css/reset.css">
    <link rel="stylesheet" href="../../static/loginreg/css/style.css">
  </head>
  <body>
            <!--Header section-->
        <div id="header">
            <!--logo image-->
            <img src="../../static/loginreg/images/sage.png" class="logo">

            <!--Navbar links-->
            <div class="navbar">
                <ul>
                    <li><a href="#how-it-works">How it Works</a></li>
                    <li><a href="#about">About Us</a></li>
                    <li><a href="#">Login</a></li>
                </ul>
            </div>
        </div>

        <!--Top section-->
        <div class="top-section">
            <img src="../../static/loginreg/images/women.jpg" class="photo">
            <h1 class="tagline">The place to connect with women in tech!</h1>

            <!--Box with link to join popup-->
            <a href="#" class="join-box">Join Here!
                <p class="join-subtext">Get connected with mentors or mentees!</p>
            </a>

            <!-- CSS Arrow Animation -->
            <div class="arrow-section">
              <a href="#how-it-works" class="arrow down">Down</a>
            </div>

        </div>

        <!--How it works section-->
         <div class="content-container" id="how-it-works">
            <h1 class="title">How it Works</h1>
            <p class="text-box"> We get it. Finding women in tech to mentor or to be mentored is tough. At Sage, we make it easy for women to connect with other women in tech. Whether you're an aspiring developer or a seasoned veteran who wants to give back, Sage gives you the ability to message and build relationships with women in tech. The main reason: it's awesome! But in cause that's not a good enough reason, we'll tell you more... (eventually)</p>
        </div>

        <div class="divider-img"></div>
        <!--About Us section-->
        <div class="content-container" id="about">
            <h1 class="title">About Us</h1>
            <p class="text-box"> Sage was created within 24 hours during the We Hack 2017 Hackathon sponsored and hosted by TUNE, Inc. So, who are the brains behind Sage? </p>
            <p class="text-box"> Sage was created by a talented group of women from the Seattle area. On the back end team was Mikayla Jordon, Daniela Bizgu, and Yishui Liu. On the front end team was Brianna Burrows, Sereina Blanchard, and Maddy Stevens. </p>

            <p class="text-box"> You can find each of our beautiful code here: <br>
              <ul class="authors">
                <li><a href="https://github.com/Makillya">Mikayla Jordon</a></li>
                <li><a href="https://github.com/mixdanutza">Daniela Bizgu</a></li>
                <li><a href="https://github.com/liuyishui">Yishui Liu</a></li>
                <li><a href="http://meetbrianna.com/">Brianna Burrows</a></li>
                <li><a href="https://github.com/Ziyal">Sereina Blanchard</a></li>
                <li><a href="https://github.com/madhubs">Maddy Stevens</a></li>
              </ul>
            </p>
        </div>

        <!--Footer links-->
        <div id="footer">
            <ul>
                <li><a href="#">Terms of Service</a></li>
                <li><a href="#">Privacy Policy</a></li>
            </ul>
        </div>

    <!-- This is the signup login modal -->
    <div id="login-signup">

      <div id="modal__tab-container">
        <!-- Form Tabs Start-->
        <div class="modal__tab tab--active" data-tab="" id="modal__left">
          Log In
        </div>

        <div class="modal__tab" data-tab="" id="modal__right">
          Sign Up
        </div>
      </div>
      <!-- Form Tabs End -->

      <!-- Sign Up Form Starts-->
      <div class="signup-form__container">
        {% if messages %}
            {% for message in messages %}
              {{ message|linebreaksbr }}
            {% endfor %}
        {% endif %}
        <form class="" action="{% url 'loginreg:register' %}" method="post">
          {% csrf_token %}
          <fieldset>
            <input class="input-box" type="text" name="first_name" placeholder="First" >
            <input class="input-box" type="text" name="last_name" placeholder="Last" >
            <input class="input-box" type="text" name="email" placeholder="Email" >
            <input class="input-box" type="password" name="password" placeholder="Password" >
            <input class="input-box" type="password" name="confirm_password" placeholder="Password" >
            <h2>Who Are You?</h2>
            <p><input type="radio" name="user_type" value="mentor">I am a Mentor</p><br>
            <p><input type="radio" name="user_type" value="mentee">I am a Mentee</p>
            <button type="submit" >Sign Up</button>
          </fieldset>
        </form>
      </div>
      <!-- Sign Up Form Ends -->

      <!-- Log In Form Starts -->
      <div class="login-form__container">
        <form class="" action="{% url 'loginreg:login' %}" method="post">
          {% csrf_token %}
          <fieldset>
            <input class="input-box" type="text" name="check_email" placeholder="Email" >
            <input class="input-box" type="password" name="check_password" placeholder="Password" >
            <button class="input-box" type="submit" >Login</button>
          </fieldset>
        </form>
      </div>
    </div>
    <!-- Log In Form Ends -->

  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="../../static/loginreg/js/app.js"></script>
</html>
