<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>We Hack 2017</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito:300|PT+Sans" rel="stylesheet">
    <link rel="stylesheet" href="../../static/loginreg/css/reset.css">
    <link rel="stylesheet" href="../../static/loginreg/css/style.css">
    <link rel="stylesheet" href="../../static/loginreg/css/home.css">
  </head>
  <body>

    <!--Header section-->
    <div id="header">
        <!--logo image-->
        <img src="../../static/loginreg/images/logo.png" class="logo">

        <!--Navbar links-->
        <div class="navbar">
            <ul>
                <li><a href="#">Search</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Messages</a></li>
            </ul>
        </div>
    </div>  

    <!--Body Container-->
    <div id="container">
        <!--Sidebar-->
        <div id="sidebar-container">
            <h1 class="sidebar-title">Filters:</h1>
            <!--Filter Links-->
            <ul class="filter-list">
                <li class="filter-type"><a href="#" class="filter-link">Location</a></li>
                <li class="filter-type"><a href="#" class="filter-link">Title</a></li>
            </ul>
            <!--End Filter Links-->

        </div>

        <!--Right Content-->
        <div id="right-container">
            <!--Search Box-->
            <form method="post">
                <input type="text" name="search_params" class="search-box">
                <input type="submit" value="Search" class="search-btn">
            </form>
            <!--End Search Box-->

            <!--Results-->
            <div class="results">
                <h1 class="name"><a href="#" class="profile-link">Person Name</a></h1>
                <h1 class="position">Software Engineer at Company</h2>
                <p class="about">This is where stuff about me would go, such as why I love developing, etc.</p>
            </div>

            <div class="results">
                <h1 class="name"><a href="#" class="profile-link">Person Name</a></h1>
                <h1 class="position">Software Engineer at Company</h2>
                <p class="about">This is where stuff about me would go, such as why I love developing, etc.</p>
            </div>
            <!--End Results-->
        </div>
    </div>
    <!--End Body Container-->

  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</html>
