<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>We Hack 2017</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito:300|PT+Sans" rel="stylesheet">
    <link rel="stylesheet" href="../../static/loginreg/css/reset.css">
    <link rel="stylesheet" href="../../static/loginreg/css/style.css">
    <link rel="stylesheet" href="../../static/loginreg/css/home.css">
  </head>
  <body>

    <!--Header section-->
    <div id="header">
        <!--logo image-->
        <img src="../../static/loginreg/images/logo.png" class="logo">

        <!--Navbar links-->
        <div class="navbar">
            <ul>
                <li><a href="{% url 'loginreg:search' %}">Search</a></li>
                <li><a href="{% url 'loginreg:profile' %}">Profile</a></li>
                <li><a href="{% url 'loginreg:logout' %}">Logout</a></li>
            </ul>
        </div>
    </div>

    <!--Body Container-->
    <div id="container">
        <!--Sidebar-->
        <div id="sidebar-container">
            <h1 class="sidebar-title">Filters:</h1>
            <!--Filter Links-->
            <ul class="filter-list">
                <li class="filter-type"><a href="#" class="filter-link">Location</a></li>
                <li class="filter-type"><a href="#" class="filter-link">Title</a></li>
            </ul>
            <!--End Filter Links-->

        </div>

        <!--Right Content-->
        <div id="right-container">
            <!--Search Box-->
            <form method="post">
                <input type="text" name="search_params" class="search-box">
                <input type="submit" value="Search" class="search-btn">
            </form>
            <!--End Search Box-->

            <!--Results-->
            {% for u in users %}
            <div class="results">
                <h1 class="name"><a href="#" class="profile-link">{{u.first_name}} {{u.last_name}}</a></h1>
                <h1 class="position">{{u.title}}</h2>
                <p class="about">{{u.about}}</p>
            </div>
            {% endfor %}

            <!--End Results-->
        </div>
    </div>
    <!--End Body Container-->

  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</html>
