

/*Index Page*/

fieldset {
  padding: 40px 30px 50px;
}

a {
  Font-Family: 'Nunito', Sans-Serif;
  color: black;
}
a:link {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

button {
  cursor:pointer;
  max-width: 50%;
	width: 100%;
	border:none;
	background: #9ACCBB;
	color: #FFF;
	margin: 0 0 5px;
	padding: 10px;
	font-size: 15px;
  margin-left: 25%;
  margin-top: 10%;
  border-radius: 10px;
}

p {
  Font-Family: 'PT Sans', Sans-Serif;
  font-size: 20px;
}

h2 {
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 20px;
  Font-Family: 'Nunito', Sans-Serif;
}

#login-signup {
  width: 500px;
  height: 700px;
  border: 1px solid #d0d0d0;
  background: #fff;
}

#modal__tab-container {
  display: flex;
  flex-direction: row;
}

#modal__left {
  border-right: 1px solid #d0d0d0;
}

.modal__tab {
  background-color: #f7f7f7;
  border-top: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
  color: #333;
  font-size: 26px;
  font-weight: 600;
  height: 60px;
  line-height: 29px;
  padding-top: 15px;
  width: 250px;
  text-align: center;
}

input.input-box {
  outline: none;
  font-size: 20px;
  height: 40px;
  line-height: 24px;
  margin: 8px auto 0;
  padding: 8px 18px;
  width: 380px;
}

.signup-form__container {
  margin: 10px;
}

.login-form__container {
  margin: 10px;
}

.wrapper {
  z-index: 10000;
  position: fixed;
  left: 32%;
  top: 80px;
  overflow: auto;
}

.wrapper-body {
  background-color: rgba(0,0,0,0.6)
}

div {
    Font-Family: 'Nunito', Sans-Serif;
}

.title {
  color: #2D2A2D;
  text-align: center;
  font-size: 35px;
  margin-top: 15px;
  Font-Family: 'Nunito', Sans-Serif;
}

.text-box {
  color: #2D2A2D;
  width: 50%;
  margin: 10px;
  display: inline-block;
  text-align: left;
}

.content-container {
  display: block;
  text-align: center;
  margin: 20px 0px 20px 0px;
}

/* Header Section -------------- */
#header {
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  height: 75px;
  background-color: #35395E;
}

.logo {
  width: 8%;
  display: inline-block;
  margin: 10px;
  margin-left: 60px;
}

.navbar {
  display: inline-block;
  width: 75%;
  margin-top: 25px;
  font-size: 15px;
  text-align: right;
}

ul {
  list-style-type: none;
  margin: 0;
  margin-right: 60px;
  padding: 0;
}

li {
  font-size: 20px;
  display: inline;
  margin: 10px;
  padding: 5px;

}

.navbar ul li:hover {
  border: 1px solid #ffffff;
  border-radius: 2px;
}


/* Top Section ----------------- */
.top-section {
  display: block;
  margin: 0 auto;
  height: 675px;
}

.tagline {
  Font-Family: 'Nunito', Sans-Serif;
  text-align: center;
  font-size: 45px;
  padding-top: 130px;
  color: #2D2A2D;
  font-weight: bold;
  position: relative;
}

.photo {
  width: 100%;
  text-align: center;
  position: absolute;
  opacity: 0.5;
}

.join-box {
  display: inline-block;
  position: relative;
  width: 50%;
  padding: 5% 0% 5% 0%;
  margin: 3% 0% 0% 25%;
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-size: 40px;
}

.join-box:hover{
  background-color: rgba(222, 250, 252, 0.9);
}



.join-subtext {
  font-size: 20px;
}

/* Bottom Section -----------------*/

.divider-img {
  width: 100%;
  height: 52px;
  background-color: #9ACCBB;
}

.arrow-section a {
  margin: 0;
  margin-top: 200px;
  margin-left: 48%;
}

.arrow {
  border-color: transparent;
  border-style: solid;
  border-width: 0 2em;
  display: block;
  height: 0;
  margin: 10em auto;
  opacity: 0.4;
  text-indent: -9999px;
  transform-origin: 50% 50%;
  width: 0;
}

@-webkit-keyframes downarrow {
  0% { -webkit-transform: translateY(0); opacity: 0.4 }
  100% { -webkit-transform: translateY(0.4em); opacity: 0.9 }
}

.down {
  -webkit-animation: downarrow 0.6s infinite alternate ease-in-out;
  border-top:2em solid #35395E;
}


.authors li {
  display: block;
  /*width: 130px;*/
}

.authors a:hover {
  color: #9ACCBB;
}

.content-container p {
  text-align: center;
}

/* Footer Section -----------------*/
#footer {
  width: 100%;
  /*position: absolute;*/
  bottom: 0;
  color: #ffffff;
  background-color: #2D2A2D;
  padding: 10px 0px 10px 0px;
  text-align: center;
  display: block;
}

/*Index Page End*/

/*This is the class for the active tab for login and signup*/
.tab--active {
  background-color: #fff;
  border-top: 3px solid #9ACCBB;
  border-bottom: 0;
  padding-top: 13px;
}

/*User Profile*/

.user-profile {
  display: flex;
  flex-direction: column;
}

.user-profile-form h1 {
  margin-top: 45px;
}

textarea {
  font-size: 20px;
  align-self: center;
  width: 30%;
  outline: none;
  border: 1px solid #d0d0d0;
  resize: none;
  margin-top: 35px;
  margin-left: 10px;
}

#save-profile {
  align-self: center;
  height: 50px;
  width: 15%;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 0;
}

/*----User Profile End---*/


/* ---------- Search Page ---------- */

#container {
  display: flex;
  margin: 40px 0px 0px 40px;
}

      /* ---- Sidebar ____ */
#sidebar-container {
  width: 25%;
  background-color: #DEFAFC;
  margin-right: 20px;
  outline: double 3px #2D2A2D;
  outline-offset: -15px;
}

.sidebar-title {
  font-size: 30px;
  text-align: center;
  margin-top: 30px;
}

.filter-list {
  width: 50%;
  margin-left: 5%;
}

.filter-type {
  display: block;
  font-size: 18px;
  font-weight: bold;
}

.filter-type .filter-link {
  color: black;
  margin-left: 10px;
}

.filter-type .filter-link:hover {
  color: grey;
}


    /* ---- Right Body ---- */

#right-container {
  display: block;
  text-align: center;
  width: 65%;
  background-color: #DEFAFC;
  margin-left: 20px;
}

.search-box {
  width: 80%;
  height: 35px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.search-btn {
  height: 42px;
  width: 80px;
}

.results {
  display: inline-block;
  text-align: left;
  width: 90%;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px;
  border: double 3px #2D2A2D;
}

.name {
  font-size: 25px;
  margin: 10px 10px 10px 20px;
}

.name .profile-link{
  color: black;
}

.name .profile-link:hover {
  color: lightgrey;
}

.position {
  font-size: 20px;
  margin: 10px 10px 10px 20px;
}

.about {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  margin: 10px 10px 10px 20px;
}

/* ---------- End Search Page ---------- */
